.scroll {
        box-sizing: content-box;
        height: 250px;
        border: 2px black;
        overflow:  scroll; 
        overflow: hidden;
        overflow: auto;
}
.messageClass {
    border-width: 500px black;
}