.taskButton{
  display:flex;
  justify-content:center;
  flex-direction:row;
  margin-top:10px;
  
}
.tasks{
  display:flex;
  justify-content: space-around;
  flex-direction:row;
  margin-top:20px;
  flex-wrap:wrap;
}
.taskCard{
  padding:60px;
  border:2px solid gray;
  background-color:#707884;
  color:white;
  box-shadow:2px 2px 8px gray;
  border-radius:15px;
}
.edit{
  color:darkblue;
}