.loginForm{
  display:flex;
  justify-content:center;
  flex-direction: column;
  width:50%;
  margin:0 auto;
  margin-top:50px;
  background-color:#707884;
  color:white;
  padding-left:220px;
  padding-right:220px;
  padding-bottom:110px;
  border-radius:25px;

}
#username{
  font-size:20px;
}
#password{
  font-size:20px;
}
.signIn{
  margin-top:25px;
  text-align:center;
}
.signInButton:hover{
  cursor:pointer;
  transform: scale(1.1);
  
  
}
.signInButton{
  background-color:#007bce;
  margin-top:15px;
  color:white;
  padding:8px;
  border:0;
  border-radius:15px;
  box-shadow:2px 2px 8px black;
  
  transition:all .9s ;
}
